*.class

# Package Files #
*.jar
*.war
*.ear
/dist
/tmp
/lib
/velocity.log
/target

# Eclipse
.settings/
local.properties
.metadata
.classpath
.project

# IDEA
.idea/
*.ipr
*.iws
*.iml

# Other
*.log
