package ${packageAbstract};

import javax.persistence.Id;
import javax.persistence.Column;
import javax.persistence.GeneratedValue;
import javax.persistence.MappedSuperclass;

import play.db.ebean.Model;

//import ${packageConcrete}.*;

/**
 *
 * @author play-model-gen
 *
 */
@MappedSuperclass
public abstract class ${meta.abstractEntityName} extends Model {

    // serialVesrionUID
    private static final long serialVersionUID = 1L;

    @Id
    @GeneratedValue
    public Long id;
#foreach(${column} in ${meta.table.columnList})

    ${column.columnAnnotation}
    public ${column.javaType} ${column.fieldName}${column.defaultValue};

#foreach(${column} in ${meta.table.columnList})
#if(${column.referencedModel})
    @javax.persistence.ManyToOne
    @javax.persistence.JoinColumn(name = "${column.columnName}", insertable=false, updatable=false)
    public ${column.referencedModel.entityName} ${column.referenceFieldName};

#end
#end
}