package ${packageConcrete};

import java.util.Date;
import java.util.List;
import javax.persistence.Entity;
import javax.persistence.Table;

import ${packageAbstract}.${meta.abstractEntityName};

import constant.Flg;
import play.db.ebean.Model;
import jp.co.cyberbuzz.play.PlayDateTime;
import constant.DbResouceType;

/**
 *
 * @author play-model-gen
 *
 */
@Entity
@Table(name = "${meta.table.name}")
public class ${meta.entityName} extends ${meta.abstractEntityName} {

    // serialVesrionUID
    private static final long serialVersionUID = 1L;

    // ModelFinder(Master)
    public static Model.Finder<Long, ${meta.entityName}> find = new Model.Finder<Long, ${meta.entityName}>(DbResouceType.MASTER.getValue(), Long.class, ${meta.entityName}.class);

    // ModelFinder(Slave)
    public static Model.Finder<Long, ${meta.entityName}> slaveFind = new Model.Finder<Long, ${meta.entityName}>(DbResouceType.SLAVE.getValue(), Long.class, ${meta.entityName}.class);

    /**
     * Finder選択処理
     * @param dbResouceType DBリソース種別
     * @return Finder
     */
    private static Finder<Long, ${meta.entityName}> selectFinder(DbResouceType dbResouceType) {
        return dbResouceType == DbResouceType.SLAVE ? slaveFind : find;
    }

    /**
     * 指定したIDに一致し、論理削除されていないレコードを返します。
     * @param id ID
     * @return 結果
     */
    public static ${meta.entityName} findAliveById(long id) {
        return findAliveById(id, DbResouceType.MASTER);
    }

    /**
     * 指定したIDに一致し、論理削除されていないレコードを返します。
     * @param id ID
     * @param dbResouceType DBリソース種別
     * @return 結果
     */
    public static ${meta.entityName} findAliveById(long id, DbResouceType dbResouceType) {
        Finder<Long, ${meta.entityName}> finder = selectFinder(dbResouceType);
        ${meta.entityName} result = finder.where()
                          .eq("id", id).eq("deleteFlg", Flg.OFF.getValue()).findUnique();
        return result;
      }

    /**
     * 論理削除されていないレコードを全件取得します。
     * @return 結果
     */
    public static List<${meta.entityName}> findAliveAll() {
        return findAliveAll(DbResouceType.MASTER);
    }

    /**
     * 論理削除されていないレコードを全件取得します。
     * @param dbResouceType DBリソース種別
     * @return 結果
     */
    public static List<${meta.entityName}> findAliveAll(DbResouceType dbResouceType) {
        Finder<Long, ${meta.entityName}> finder = selectFinder(dbResouceType);
        return finder.where()
                   .eq("deleteFlg", Flg.OFF.getValue()).findList();
    }

    /**
     * 登録処理
     */
    @Override
    public void save() {
        Date now = PlayDateTime.now().toDate();
        this.deleteFlg = false;
        this.createDate = now;
        this.updateDate = now;
        super.save(DbResouceType.MASTER.getValue());
    }

    /**
     * 更新処理
     */
    @Override
    public void update() {
        Date now = PlayDateTime.now().toDate();
        this.updateDate = now;
        super.update(DbResouceType.MASTER.getValue());
    }

    /**
     * 更新処理
     * @param obj Entityオブジェクト
     */
    @Override
    public void update(Object obj) {
        Date now = PlayDateTime.now().toDate();
        this.updateDate = now;
        super.update(obj, DbResouceType.MASTER.getValue());
    }

    // @OneToMany area
}