package ${packageConcrete}.${meta.dbTypePackage};

import java.util.List;
import javax.persistence.Entity;
import javax.persistence.Table;

import ${packageAbstract}.${meta.abstractEntityName};

import constant.Flg;
import play.db.ebean.Model;
import exceptions.MncSystemException;

/**
 *
 * @author play-model-gen
 */
@Entity
@Table(name = "${meta.table.name}")
public class ${meta.dbType}${meta.entityName} extends ${meta.abstractEntityName} {

    // serialVesrionUID
    private static final long serialVersionUID = 1L;

    // ModelFinder
    public static Model.Finder<Long, ${meta.dbType}${meta.entityName}> find = new Model.Finder<Long, ${meta.dbType}${meta.entityName}>(Long.class, ${meta.dbType}${meta.entityName}.class);

    /**
     * 指定したIDに一致し、論理削除されていないレコードを返します。
     * @param id ID
     * @return 結果
     */
    public static ${meta.dbType}${meta.entityName} findAliveById(long id) {
      ${meta.dbType}${meta.entityName} result = find.where()
                        .eq("id", id).eq("deleteFlg", Flg.OFF.getValue()).findUnique();
        return result;
    }

    /**
     * 論理削除されていないレコードを全件取得します。
     * @return 結果
     */
    public static List<${meta.dbType}${meta.entityName}> findAliveAll() {
        return find.where()
                   .eq("deleteFlg", Flg.OFF.getValue()).findList();
    }

    /**
     * 登録処理
     */
    @Override
    public void save() {
        throw new MncSystemException("SlaveDB Not Data Insert!!");
    }

    /**
     * 更新処理
     */
    @Override
    public void update() {
        throw new MncSystemException("SlaveDB Not Data Update!!");
    }

    /**
     * 更新処理
     * @param obj Entityオブジェクト
     */
    @Override
    public void update(Object obj) {
        throw new MncSystemException("SlaveDB Not Data Update!!");
    }

    // @OneToMany area
}